
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    
</head>

<body>
    <div id='home'>
        <div class="flyer">
            <img src="~/images/Home.png">
            <button class="login" onclick="window.location.href='/Login'">Entrar</button>
        </div>

        
    </div>
    <script src="~/js/homePage.js"></script>
    
    
</body>
</html>