@{
    ViewData["Title"] = "Privacy";
}
<!DOCTYPE html>
<html>
<body>

    <div class="privacy">
        <h1>Política de Privacidade e Termos de Uso</h1>

        <h3>1.	APRESENTAÇÃO DO LIBRAS4ALL</h3>
        <p>
            1.1  Libraas4all consiste em um sistema gamificado para apoio no aprendizado de LIBRAS. O sistema conta com uma parte web para criação e gerenciamento de salas e uma outra parte mobile para praticar LIBRAS jogando 3 jogos diferentes. A finalidade é poder praticar a língua brasileira de sinais de forma mais divertida e interativa.
        </p>
        <h3>2.	POLÍTICA DE PRIVACIDADE</h3>
        <p>
            2.1   A política de Privacidade do Libras4all tem como objetivo principal estabelecer e compartilhar com todos os usuários do sistema de maneira clara a forma com que os dados (nome, email, nickame, senha e data de nascimento) são coletados, armazenados, utilizados, tratados e protegidos durante o uso do site Libras4all e do aplicativo mobile.
        </p>
        <p>
            2.2 Ao se cadastrar na plataforma Libras4all e clicar na caixa “Li e aceito” o usuário estará de forma livre, consciente e de forma expressa, concordando com a Política de Privacidade e Termos de Uso do Libras4all, assim sendo, esse documento deve ser lido e ao final dado o aceite que será tido como consentimento expresso da utilização dos dadoss aqui coletados, conforme referido o item 2.1.
        </p>

        <h3>3.	DADOS COLETADOS E FORMAS DE UTILIZAÇÃO</h3>

        <p>
            3.1	Para que o Libras4all possa oferecer os seus serviços, é necessário que o usuário realize um cadastro de dados pessoais. Para segurança do usuário, foram adotadas regras claras de utilização desses dados armazenados, conforme seguem abaixo.
        </p>
        <p>
            3.2	Será solicitado nome, e-mail, senha, nickname e data de nascimento, visto que o nome, e-mail, nickname e senha servirá apenas para identificação do usuário dentro do sistema e a data de nascimento para cálculo da idade.
        </p>
        <p>
            3.3	O Libras4all não fornecerá os dados cadastrados para terceiros, ele servirá para controle de acesso do usuário dentro do próprio sistema, e no caso de utilização em sala de aula o criador da sala poderá acessar o nome e e-mail dos usuários que ingressarem em sua sala com a finalidade de avaliar desempenho, ranking, pontuação etc.
        </p>
        <p>
            3.4	Para o jogo “O mestre Mandou” o aplicativo pedirá autorização para acessar a câmera do smartphone, pois a finalidade do jogo é validar o sinal feito pelo usuário em tempo real. As imagens coletadas pela câmera serão enviadas à um modelo de aprendizagem de inteligência artificial que rodará dentro do próprio celular e validará os sinais que serão feitos para a câmera do celular. Essas imagens não serão de forma alguma utilizadas para nenhuma outra finalidade a não ser aquelas aqui informadas.
        </p>

        <h3>4.	DIREITOS AUTORAIS</h3>

        <p>
            4.1	O sistema foi desenvolvido com a finalidade de utilização sem fins lucrativos, apenas para treinamento da língua brasileira de sinais seja em sala de aula ou por usuários interessados no tema. Portanto, o Libras4all se reserva no direito de não permitir o uso do sistema para fins comerciais.
        </p>
        <p>
            4.2	O aplicativo mobile conta com uma tecnologia de reconhecimento de imagem, para isso os desenvolvedores usam um sistema de rede neural pronto disponibilizado para uso e treinou para que desempenhe sua função dentro da aplicação do Libras4all reconhecendo sinais. Uma rede neural é um sistema de computação que funciona como neurônios do cérebro humano. Através de algoritmos a rede neural consegue identificar padrões e correlações aos dados fornecidos como treinamento e posteriormente classificar outros dados para identificar se há relação com os dados usados durante o treinamento. Em outras palavras, a rede neural consegue validar os sinais feitos para a câmera do celular com base em um banco de imagens exemplo que "ensina" para a rede neural qual é o sinal correto para cada letra. O algoritmo da rede neural não foi feito pelos desenvolvedores do Libras4all, sendo assim, para acessar a fonte que contém o algoritmo e os desenvolvedores da rede neural <a href="https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md" target="_blank" >clique aqui</a>. Para que o Libras4all pudesse usar esse algoritmo dentro do projeto era necessário colocar a licença de uso do código dentro do projeto Libras4all e a mesma se encontra <a href="https://github.com/Itacolomi1/libras4all-mobile/blob/main/LICENSE" target="_blank">aqui</a>.
        </p>

        <h3>5.	ADESÃO LIVRE E RESPONSABILIDADES </h3>
        <p>
            5.1 A senha criada para acesso ao sistema Libras4all deve ser sigilosa e intransferível e não deve ser compartilhada em hipótese alguma. O usuário é o único responsável pela guarda e pelo uso indevido da senha cadastrada.
        </p>
        <p>
            5.2 Ao clicar no botão “LI E ACEITO” o usuário demonstrará consentimento livre, expresso e informado sobre todos os tópicos expressos na política de privacidade (Itens 1,2,3,4,5 e 6). Além disso, ele afirma que TODOS os dados fornecidos são verídicos. Em caso de eventuais dúvidas, o usuário DEVE entrar em contato com os desenvolvedores através do email libras4all@gmail.com antes de clicar em “LI E ACEITO”.
        </p>
        <p>
            5.3 Em casos de menores de 16 anos, a leitura DEVE ser feita por um responsável legal e que deverá concordar com o uso do sistema pelo menor. Nos casos de maiores de 16 anos e menores de 18 anos é obrigatório o acompanhamento do responsável acompanhe a leitura e aceite dos termos (1,2,3,4,5 e 6).
        </p>
        <p>
            5.4 O Libras4all não se responsabiliza pela aceitação fora dos padrões apontados no item 4.3 dessa Política de Privacidade e Termos de Uso.
        </p>
        <h3>6. ATUALIZAÇÃO DOS TERMOS DA POLÍTICA DE PRIVACIDADE</h3>
        <p>
            6.1 O Libras4all se reserva no direito de atualizar regularmente sua política de privacidade, bem como promover adaptações necessárias ao sistema. Caso haja mudanças, os usuários serão notificados para que possam analisar as mudanças e dar novo aceite aos termos que foram modificados e/ou adaptados.
        </p>



    </div>
    <script src="~/js/privacy.js"></script>
</body>
</html>




