body, html {
    height: 100%;
    position: relative;
    margin: 0;
    font-family: "Open Sans", Sans-serif;
    font-size: 12px;
    padding-bottom: 55px;
}

#alunos .esquerda p, #sala-visualizar .esquerda p {
    font-weight: bold;
    font-size: 20px;
    text-align-last: center;
}


#tabelaAlunos_wrapper, #tabelaRanking_wrapper {
    height: 75%;
    overflow-x: hidden;
    padding-right: 5px;
}
#tabelaAlunos, #tabelaSalas {
    cursor: pointer;
}

.menu {
    background-color: rgb(35, 36, 95);
    list-style: none;
    width: 78px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-left: 10px;
}

    .menu a {
        text-decoration: none;
        color: white;
        font-family: "Open Sans", Sans-serif;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
    }

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

    .conteudo .iframe {
        margin-left: 50px;
        height: 100%;
        width: 550px;
        border: none;
        border-radius: 25px;
        position: relative;
        box-shadow: 0px 0px 14px #8888b9;
    }

        .conteudo .iframe main {
            height: 100%;
        }

.menu li {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-right: 10px;
}

li.activo {
    background: white;
    border-radius: 25px 0px 0px 25px;
}

    li.activo a {
        color: rgb(35 36 95);
    }

#home .salas_ativas {
    margin: 40px 40px 0px 40px;
    height: 250px;
}



#nova_sala {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

    #nova_sala input, #salas input {
        height: 30px;
        margin-top: 50px;
        width: 70%;
        border: 1px solid #acacac;
        border-radius: 10px;
        padding-left: 20px;
    }

    #nova_sala .jogos, #home .jogos {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 200px;
    }

  
        #nova_sala .jogos div, #home .jogos div {
            width: calc(95%/3);
            height: 200px;
            background-size: contain;
            cursor:pointer;
        }

        #nova_sala .jogos .meteoro {
            background-image: url("../images/meteoro.png");
            position: relative;
            border-radius: 10px;
        }

        #home .jogos .meteoro {
            background-image: url("../images/meteoro-home.png");
        }

.abrir_duvida_meteoro, .abrir_duvida_mestre {
    height: 50px !important;
    width: 50px !important;
    position: absolute;
    bottom: 0;
    right: 0;
}

.jogos .quiz {
    background-image: url("../images/quiz.png");
}
#nova_sala .jogos .quiz {
    background-image: url("../images/quiz.png");
    border-radius: 10px;
}

.flyer img {
    float: left;
    width: 100%;
    border-radius: 20px;
}


#nova_sala .jogos .mestre {
    background-image: url("../images/mestre.png");
    position: relative;
    border-radius: 10px;
}

#home .jogos .mestre {
    background-image: url("../images/mestre-home.png");
}

button.salvar {
    width: 70%;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-family: "Open Sans", Sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    color: white;
    background: rgb(35 36 95);
}



#sala-editar button.salvar {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-family: "Open Sans", Sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    color: white;
    background: rgb(35 36 95);
}

    button.salvar:hover, #sala-editar button.salvar:hover, .img-perfil:hover, #salas button:hover, #perfil button.salvar:hover, #perfil button.logout:hover {
        color: white;
        background: #037ca9;
        border: none;
    }

#salas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pb-3 {
    height: 300px;
}

    #salas button {
        height: 30px;
        border: none;
        border-radius: 10px;
        font-family: "Open Sans", Sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        border: none;
        color: white;
        background: rgb(35 36 95);
        margin-top: 50px;
        margin-left: 10px;
        width: 100px;
    }

.privacy {
    margin: 30px;
    width: 500px;
    height: 450px;
    overflow-y: scroll;
}

    .privacy h1 {
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        width: 100%;
        font-family: "Monaco", "Courier New", monospace;
    }

    .privacy h3 {
        font-size: 20px;
      
        font-weight: bold;
        width: 100%;
        font-family: "Monaco", "Courier New", monospace;
    }

    .privacy p {
        text-align: justify;
        text-indent: 10px;
    }
   

#divTabela {
    width: 90%;
    margin-top: 20px;
}

tr {
    font-size: 13px;
}
#info h2 {
    text-align: center;
    font-size: 15px;
}

.container {
    
    text-align: center;
}



input-search {
    border: 1px solid #CCC;
    padding: 5px 14px;
    font-size: 12px;
    margin: 10px 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

.input-search::-webkit-input-placeholder {
    font-style: italic
}

.input-search:-moz-placeholder {
    font-style: italic
}

.input-search:-ms-input-placeholder {
    font-style: italic
}

/* " Para a tabela */
table.tabelaSala {
    border-collapse: collapse;
    font-size: 11px;
    font-family: Tahoma, Geneva, sans-serif;
}

    table.tabelaSala th {
        padding: 5px;
        background: #EEE;
        border: 1px solid #CCC;
    }

    table.tabelaSala td {
        padding: 3px;
        border: 1px solid #CCC;
    }

.button_editar {
    background-image: url("../images/editar.png");
    width: 28px;
    height: 28px;
    background-size: contain;
    background-repeat: no-repeat;
}

.button_visualizar {
    background-image: url("../images/visualizar.png");
    width: 28px;
    height: 28px;
    background-size: contain;
    background-repeat: no-repeat;
}

    .button_visualizar a, .button_editar a {
        width: 28px;
        height: 28px;
        display: block;
    }

.button_excluir {
    background-image: url("../images/excluir.png");
    width: 28px;
    height: 28px;
    background-size: contain;
    background-repeat: no-repeat;
}

.engloba {
    position: relative;
    width: 100%;
    height: 100%;
}

#sala-editar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 300px;
    height: 420px;
}

#perfil {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 300px;
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#alunos .baixo, #sala-visualizar .baixo{
    width: 44%;
}

#alunos .cima, #sala-visualizar .cima {
    width: 100%;
    border-style: solid;
    border-color: #154C79;
    border-radius: 20px;
    height: 90%;
}

#sala-visualizar .cima{
    cursor:pointer;
}

#divSala {
    display: none;
}

#tabelaRanking {
    display: none;
}

#tabelaItens{
    display:none;
}

#divDesempenho {
    display: none;
    border-style: solid;
    border-color: #154C79;
    margin-right: 10px;
    border-radius: 20px;
}

@font-face {
    font-family: game;
    src: url(../fonts/font.ttf);
}

#alunos, #sala-visualizar {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#sala-editar p {
    font-size: 17px;
    text-align: center;
}

    #sala-visualizar h1, #sala-editar h1 {
        font-size: 35px;
        text-align: center;
        font-weight: bold;
        width: 100%;
        font-family: game;
        
    }


#sala-editar h2 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

#jogo h1 {
    font-size: 20px;
    font-family: Arial;
    margin-left: 20px;
    text-align: left;
    position: absolute;
}

#jogo {
    width: 70%;
    margin: 0 auto;
}

    #jogo h2 {
        font-size: 20px !important;        
        font-family: Arial;
        margin-left: 20px;
        text-align: right !important;
    }

    #sala-editar h3 {
        font-size: 17px !important;
        font-family: Arial;
        margin-left: 20px;
        text-align: center;
    }

#sala-editar h2 {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

#sala-editar .status {
    margin-top: 15px;
    margin-bottom: 15px;
}

.status label{
    font-size:15px;
}

#perfil label {
    text-align: center;
}

#perfil span {
    font-size: 15px;
    font-weight: bold;
    font-family: system-ui;
    padding-right: 10px;
}

.codigo-sala {
    border: dotted;
    border-radius: 10px;
    width: 100%;
    height: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    background: #037ca9;
}

p, label {
    font-size: 13px;
}

    p span {
        font-weight: bold;
    }

.codigo-sala p {
    font-weight: bold;
    margin: 0px;
}

#ranking {
    display:none;

}


#txtSala {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#sala-visualizar h3 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

#loading {
    width: 20%;
    height: 50%;
    margin-top: 30px;
    margin-left: 220px;
}

#loadingLogin {
    width: 20%;
    height: 50%;
}

#divGrafico {
    border-style: solid;
    border-color: #154C79;
    border-radius: 20px;
    height: 90%;
    margin-right: 10px
}

#jogoMeteoro:hover, #jogoQuiz:hover, #jogoMestre:hover {
    border-style: solid;   
    border-radius: 30px;
    transition: width 2s;
   
}

#jogoSelecionado {
    width: 80%;
    TEXT-ALIGN: CENTER;
}

#jogoMeteoro:active, #jogoQuiz:active, #jogoMestre:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    border-radius: 30px;
    transform: translateY(4px);
}


#alunos .esquerda {
    width: 100%;
    height: 45%;
    border-style: solid;
    border-color: #154C79;
    border-radius: 20px;
}

#jogoSelecionado input {
    margin-top: 10px;
    width: 40%;
}

#sala-visualizar .esquerda {
    width: 100%;
    height: 35%;
    border-style: solid;
    border-color: #154C79;
    border-radius: 20px;
}
#alunos .direita{
    width: 100%;
    height: 50%;
    padding: 5px;
    display: flex;
    margin-top: 10px;
}

.square label {
    color: white;
    width: 100%;
}

#privacy input {
    margin: 5px;
   
    width: 3%;
}
#sala-visualizar .direita {
    width: 100%;
    height: 54%;
    padding: 5px;
    display: flex;
    margin-top: 10px;
}

    #alunos .direita p, #sala-visualizar .direita p {
        font-weight: bold;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

#tabelaSalas_wrapper, #tabelaItens_wrapper {
    overflow-x: hidden;
    height: 75%;
    padding-right: 5px;
}

#login, #cadastro {
    background: white;
    height: 100%;
    width: 100%;
}

.square button {
    width: 51%;
    height: 30px;
    border-radius: 10px;
    font-family: "Open Sans", Sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background: white;
    color: rgb(35, 36, 95);
    margin-bottom: 25px;
}

.voltar button {
    width: 20%;
    height: 30px;
    border-radius: 10px;
    font-family: "Open Sans", Sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background: white;
    color: rgb(35, 36, 95);
    margin-bottom: 0;
    margin-top: 10px;
}

button.logout {
    width: 70%;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-family: "Open Sans", Sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    color: white;
    background: rgb(35, 36, 95);
}

button.login {
    width: 70%;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-family: "Open Sans", Sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    color: white;
    background: rgb(35, 36, 95);
}

#home button.login {
    width: 40%;
    position: absolute;
    left: 50px;
    bottom: 40px;
}

#perfil button.logout {
    width: 100%;
    margin: 10px;
}

.square div, #perfil .separa {
    width: 100%;
    text-align: center;
}

.square button:hover {
    color: white;
    background: #037ca9;
}

.square h1 {
    color: white;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

.square input {
    width: 51%;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding-left: 32px;
    font-size: 13px;
    margin-bottom: 30px;
    margin-top: 5px;
}

.user-icon {
    background-image: url(../images/user.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 5px;
    background-position-y: 5px;
}

.date-icon {
    background-image: url(../images/date.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 5px;
    background-position-y: 5px;
}

#imagem img {
    width: auto;
    height: 100%;
}

#teste {
    display: none;
}

.img-perfil {
    width: 70%;
    height: 30px;
    border-radius: 10px;
    font-family: "Open Sans", Sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    color: white;
    background: rgb(35 36 95);
}

#imagem {
    border: none;
    text-align: center;
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin: auto;
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: 24px;
    background-size: 70px;
}

.email-icon {
    background-image: url(../images/email.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 5px;
    background-position-y: 5px;
}

.email-icon {
    background-image: url(../images/email.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 5px;
    background-position-y: 5px;
}

.senha-icon {
    background-image: url(../images/cadeado.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 5px;
    background-position-y: 5px;
}

#eye, #eye2 {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}
#exampleDropdownFormPassword1, #exampleDropdownFormPassword2 {
    width: 100%;
    margin-top: 0;
    padding-right: 33px;
}

#exampleDropdownFormPassword3 {
    width: 51%;
    margin-top: 0;
    padding-right: 33px;
}

.swal-modal{
    width:30%;

}

.swal-text{
    text-align:justify !important;
}
.engloba-senha {
    position: relative;
    width: 51% !important;
    margin: auto;
    height: 30px;
    margin-bottom: 30px;
    margin-top: 5px;
}
#redefinicao img{
    border-color:green;
}

#sala-editar .status {
    text-align: center;
}
}

.square p {
    width: 100%;
    text-align: center;
    color: white;
}

.square {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 550px;
    max-width: 100%;
    border: none;
    border-radius: 25px;
    position: absolute;
    box-shadow: 0px 0px 14px #131349;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgb(35, 36, 95);
    margin: auto;
}


.fundo_modal {
    background: #212529e6;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.footer {
    height: 45px;
    bottom: -50px;
}

#modal_quiz {
    position: absolute;
    background: rgb(35 36 95);
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    border-radius: 20px;
    display: none;
    z-index: 2;
}

    #modal_quiz .fechar {
        background: none;
        border: none;
        color: white;
        font-weight: bolder;
        font-size: 24px;
        right: 10px;
        position: absolute;
        top: 10px;
    }

    #modal_quiz h1 {
        color: white;
        text-transform: uppercase;
        margin-top: 30px;
    }

    #modal_quiz #nova_pergunta, #modal_quiz #historia, #modal_quiz #numerais, #modal_quiz #saudacoes, #modal_quiz #alfabeto, #modal_quiz #customizadas {
        background: white;
        width: calc(90%/3);
        height: 75px;
        margin-top: 10px;
        color: rgb(35 36 95);
        text-transform: uppercase;
        border-radius: 10px;
        font-weight: bold;
    }

    #modal_quiz .topicos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

        #modal_quiz .topicos button {
            color: white;
            background: rgb(35, 36, 95);
            border: none;
            font-weight: bold;
            width: 25px;
            height: 25px;
        }

    #modal_quiz button.salvar {
        width: 100%;
        background: white;
        color: rgb(35, 36, 95);
     
        margin-top: 10px;
    }
#span{
    display:none;
}


#duvida_meteoro, #duvida_mestre {
    position: absolute;
    background: rgb(35 36 95 / 98%);
    height: 80%;
    width: 80%;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    border-radius: 20px;
    display: none;
    z-index: 2;
}

    #duvida_meteoro.show, #duvida_mestre.show {
        display: block !important;
    }

    #duvida_meteoro p, #duvida_mestre p {
        margin: 23px;
        line-height: 23px;
        font-family: "Open Sans", Sans-serif;
        font-size: 15px;
    }

    #duvida_meteoro button, #duvida_mestre button {
        background: none;
        border: none;
        color: white;
        font-weight: bolder;
        font-size: 24px;
        right: 10px;
        position: absolute;
        top: 10px;
    }

    #duvida_meteoro .explicacao, #duvida_mestre .explicacao {
        margin-top: 50px;
    }

#modal_quiz #cadastrar_pergunta {
    width: 60%;
    display: none;
}

#cadastrar_pergunta h1 {
    color: white;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: none;
}

#cadastrar_pergunta .pergunta {
    display: flex;
}

#cadastrar_pergunta input {
    margin-top: 5px;
    width: 100%;
}

#cadastrar_pergunta #primeira, #cadastrar_pergunta #segunda, #cadastrar_pergunta #terceira {
    width: 15px;
}

#primeiroGrafico {
    height: 150px;
    width: 220px;
}

#cadastrar_pergunta span {
    font-size: 13px;
    margin-bottom: 0;
    background: yellow;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    padding: 2px;
    margin-top: 10px;
    display: block;
}

#modal_quiz #nova_pergunta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media (max-width: 800px) {
    body {
        zoom: 0.5;
    }
}