@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div id='login'>
        <div class="square">
            <h1>Login</h1>
            <div id="logar">
                <input type="text" class="email-icon" id="email_user" placeholder="Email" />
                <input type="password" class="senha-icon" id="password_user" placeholder="Senha" />
            </div>
            
            <div>
                <button onclick="logarUsuario()">Entrar</button>
                <button onclick="window.location.href='/Cadastro'">Cadastrar</button>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./js/loginProfessor.js"></script>
</body>
</html>
