@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=.67, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    <title>Libras4all - Redefinir Senha</title>
    <link rel="icon" type="imagem/jpg" href="~/icon.jpg" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <div id='cadastro'>
        <div class="square">
            <h1>Redefinição de senha</h1>
            <div>
                <input type="text" class="email-icon" id="txtEmail" placeholder="Digite o email cadastrado" />

            </div>
            <div>
                <button onclick="enviarEmail()" type="button">Redefenir senha</button>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./js/loginProfessor.js"></script>
</body>
</html>