@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class="engloba">
        <div id='perfil'>
            <div id="imagem">
                <img id="id_sua_img" src="../images/perfil.png" />
            </div>
            <!--Botão para selecionar a foto-->
            <input id="teste" class="botao_foto_perfil" type="file" name="flefoto" />
            <!--<button class="img-perfil">Escolher imagem</button>-->
            <div class="separa">
                <div class="separa">
                    <span>Nome:</span>
                    <label id="lbNome"></label>
                </div>
                <div class="separa">
                    <span>E-mail:</span>
                    <label id="lbEmail"></label>
                </div>
            </div>
            <!--<button class="salvar">Salvar</button>-->
            <button class="logout" onclick="Logout()">Sair</button>
            
        </div>        
    </div>
<script src="./js/perfil.js"></script>
