@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id='salas'>
    <input type="text" class="input-search" alt="tabelaSalas" name="input" placeholder="Digite para buscar na lista...">
      <div id="divTabela">
        <table class="tabelaSalas" cellspacing="0" width="100%">
            
                <thead>
                    <tr>
                        <th>Código de Acesso</th>
                        <th>Nome</th>
                        <th>Status</th>
                        <th>Jogo</th>
                        <th>Data</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>teste</td>
                        <td>teste</td>
                        <td>teste</td>
                        <td>teste</td>
                        <td>teste</td>
                        <td class="button_visualizar"><a href="Visualizar"></a></td>
                        <td class="button_excluir"></td>
                        <td class="button_editar"><a href="Editar"></a></td>
                    </tr>
                    <tr>
                        <td>oi</td>
                        <td>oi</td>
                        <td>oi</td>
                        <td>oi</td>
                        <td>oi</td>
                        <td class="button_visualizar"><a href="Visualizar"></a></td>
                        <td class="button_excluir"></td>
                        <td class="button_editar"><a href="Editar"></a></td>
                    </tr>
                    <tr>
                        <td>gabi</td>
                        <td>gabi</td>
                        <td>gabi</td>
                        <td>gabi</td>
                        <td>gabi</td>
                        <td class="button_visualizar"><a href="Visualizar"></a></td>
                        <td class="button_excluir"></td>
                        <td class="button_editar"><a href="Editar"></a></td>
                    </tr>
                    
                </tbody>           
        </table>
    </div>

</div>