@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id='sala-visualizar'>
    <h1>Nome da Sala</h1>

    <div class="esquerda">
        <p>Ranking</p>
        <table id="tabelaRanking" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Posição</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td>teste</td>
                    <td>1º</td>
                </tr>
            </tfoot>
        </table>

    </div>
    <div class="direita">
        <div class="cima">
            <p>Jogo</p>
        </div>
        <div class="baixo">
            <p>% de acerto da Sala</p>
        </div>

    </div>

</div>