@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
</head>

<body>
    <div id='sala-visualizar'>
        <h1 id="txtSala"></h1>

        <div id="tableRanking" class="esquerda">
            <div id="imagemRanking" >
                <img  src="../images/ranking.png" />
            </div>
            <h3>RANKING</h3>
            <table id="tabelaRanking" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Pontuação</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div  class="direita">
            <div id="divGrafico" class="baixo">
                
                <canvas id="graficoItens" style="width:100%;max-width:600px"></canvas>
            </div>
            <div class="cima" >
                <h3>Jogo</h3>
                <table id="tabelaItens" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    <script src="./js/visualizarSala.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</body>
</html>

