@{
    ViewData["Title"] = "Home Page";
}

<div id='home'>
    <div class="salas_ativas">

        <p>Salas Ativas</p>

    </div>
    <div class="jogos">
        <div class="quiz">

        </div>
        <div class="meteoro">

        </div>
        <div class="mestre">

        </div>
    </div>
    
   
    
   
</div>
