@{
    ViewData["Title"] = "Privacy";
}
<!DOCTYPE html>
<html>
<body>
    
    <div class="privacy">
        <h1>Política de Privacidade e Termos de Uso</h1>

        <h3>1.	PRIMEIRAS CONSIDERAÇÕES</h3>

        <p>
            1.1   A política de Privacidade do Libras4all tem como objetivo estabelecer e compartilhar com todos os usuários do sistema de maneira clara a forma com que os dados e informações são coletados, armazenados, utilizados, tratados e protegidos durante o uso do site Libras4all e do aplicativo mobile.
        </p>
        <p>
            1.2 Ao se cadastrar na plataforma Libras4all e clicar na caixa “Li e aceito” o     usuário estará de forma livre e expressa, concordando com a Política de Privacidade e Termos de Uso do Libras4all, por isso esse documento deve ser lido por completo e com bastante atenção.
        </p>

        <h3>2.	DADOS COLETADOS E FORMAS DE UTILIZAÇÃO</h3>

        <p>
            2.1	Para que o Libras4all possa oferecer os seus serviços, é necessário que o usuário realize um cadastro de dados pessoais. Para a tranquilidade e segurança do usuário, foram adotadas regras claras de utilização desses dados armazenados as quais serão explicadas nos próximos termos.
        </p>
        <p>
            2.2	Será solicitado nome, e-mail, senha e data de nascimento, visto que o nome, e-mail e senha servirá apenas para identificação do usuário dentro do sistema e a data de nascimento para cálculo da idade.
        </p>
        <p>
            2.3	O Libras4all não fornecerá os dados cadastrados para terceiros, ele servirá para controle de acesso do usuário dentro do próprio sistema, e no caso de utilização em sala de aula o criador da sala poderá acessar o nome e e-mail dos usuários que ingressarem em sua sala com a finalidade de avaliar desempenho, ranking, pontuação etc.
        </p>
        <p>
            2.4	Para o jogo “O mestre Mandou” o aplicativo pedirá autorização para acessar a câmera do smartphone, pois a finalidade do jogo é corrigir o sinal feito pelo usuário em tempo real. As imagens coletadas pela câmera serão enviadas à um modelo de aprendizagem de inteligência artificial que rodará dentro do próprio celular e corrigir os sinais que serão feitos. Essas imagens não serão de forma alguma usadas para nenhuma outra finalidade.
        </p>

        <h3>3.	DIREITOS AUTORAIS</h3>

        <p>
            3.1	O sistema foi desenvolvido por alunos de engenharia da computação em trabalho de conclusão de curso com a finalidade de utilização sem fins lucrativos, apenas para treinamento da língua brasileira de sinais seja em sala de aula ou por usuários interessados no tema. Portanto, o Libras4all se reserva no direito de não permitir o uso do sistema para fins comerciais.
        </p>
        <p>
            3.2	O aplicativo mobile conta com uma tecnologia de reconhecimento de imagem, para isso os desenvolvedores usaram um sistema de rede neural pronto disponibilizado para uso e treinou para que funcionasse dentro da aplicação do Libras4all reconhecendo sinais. Fonte da rede neural. Para acessar a licença de uso do código clique aqui.
        </p>

        <h3>4.	ADESÃO LIVRE E RESPONSABILIDADES </h3>
        <p>
            4.1 A senha criada para acesso ao sistema Libras4all deve ser sigilosa e intransferível e não deve ser compartilhada em hipótese alguma. O usuário é o único responsável pelo uso indevido da senha cadastrada.
        </p>
        <p>
            4.2 Ao clicar no botão “LI E ACEITO” o usuário demonstrará consentimento livre, expresso e informado sobre todos os tópicos expressos nessa política de privacidade. Em caso de eventuais dúvidas, o usuário DEVE entrar em contato com os desenvolvedores antes de clicar em “LI E ACEITO”.
        </p>
        <p>
            4.3 Em casos de menores de 16 anos, a leitura DEVE ser feita por um responsável legal e ele deverá concordar com o uso do sistema pelo menor. Nos casos de maiores de 16 anos e menores de 18 anos é aconselhável que um responsável acompanhe a leitura dos termos e a aceitação dele.
        </p>
        <p>
            4.4 O Libras4all não se responsabiliza pela aceitação indevida em casos de usuários menores de 16 anos.
        </p>
        <h3>5. ATUALIZAÇÃO DOS TERMOS DA POLÍTICA DE PRIVACIDADE</h3>
        <p>
            5.1 Conforme seja necessário, o Libras4all se reserva no direito de atualizar regularmente essa política de privacidade, fazendo possível adaptações conforme o sistema seja melhorado/atualizado. Caso haja mudanças, os usuários serão notificados para poder analisar as mudanças e se ainda estará disposto a aceitar os termos.
        </p>



    </div>
</body>
</html>




