@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Libras4all - Cadastro</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="./js/cadastro.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.4.0/dist/chartjs-plugin-datalabels.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/style.css" rel="stylesheet" />
        <link rel="icon" type="imagem/jpg" href="~/icon.jpg" />
    </head>
    <div id='cadastro'>        
        <div class="square">           
            <h1>Cadastro</h1>
            <div>
                <input type="text" class="user-icon" id="exampleDropdownFormNome1" placeholder="Nome" />
                <input type="text" class="date-icon" id="exampleDropdownFormDate1" placeholder="Data de nascimento" onfocus="(this.type='date')" />
                <input type="text" class="email-icon" id="exampleDropdownFormEmail1" placeholder="Email" onclick="alerta()" />
                <div class="engloba-senha">
                    <input type="password" class="senha-icon" id="exampleDropdownFormPassword3" placeholder="Digite uma nova senha" />
                    <img src="./images/olho.png" id="eye" WIDTH="30" HEIGHT="30">
                </div>
                <div class="engloba-senha">
                    <input type="password" class="senha-icon" id="exampleDropdownFormPassword4" placeholder="Confirme a nova senha" />
                    <img src="./images/olho.png" id="eye2" WIDTH="30" HEIGHT="30">
                </div>

                <div id="privacy">
                    <label>
                        <input type="checkbox" data-privacy="true" name="communications" id="checkboxp" value="1">

                        Declaro que li e concordo com os <a href="https://libras4all-web.herokuapp.com/HomePage/Privacy">Termos de Política e Privacidade</a>.

                    </label>
                </div>

            </div>
            <div>
                <button onclick="cadastrarUsuario()" type="button">Cadastrar</button>
           
                <div class="voltar">
                    <button onclick="window.location.href='/Login'">Voltar</button>
                </div>
            </div>
        </div>

    </div>