@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="engloba">
    <div id='sala-editar'>
        <h1 id="txtNomeSala"></h1>
        <div class="status">
            <input type="checkbox" id="ckAtivo">
            <label>Ativo</label>
        </div>
        <div id="jogo">
            <h1>Jogo:</h1>
            <h2 id="txtNomeJogo"></h2>
        </div>
       
        <div class="codigo-sala">
            <h3>Código da sala:</h3>
            <p id="txtCodigo">Código Sala Aqui</p>
        </div>
        <p>Alunos na sala: <span class="qtd_alunos" id="txtQtdAlunos"></span></p>
        <button class="salvar" onclick="editarSala()">Salvar</button>
    </div>
</div>
<script src="./js/editarSala.js"></script>