@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="engloba">
    <div id='sala-editar'>
        <h1>Nome da Sala</h1>
        <div class="status">
            <input type="checkbox">
            <label>Ativo</label>
        </div>
        <h2>Nome do jogo Aqui</h2>
        <div class="codigo-sala">
            <p>Código Sala Aqui</p>
        </div>
        <p>Alunos na sala: <span class="qtd_alunos">12</span></p>
        <button class="salvar">Salvar</button>

    </div>
</div>