<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - libras4All_web</title>
    <script src="~/lib/jquery/jquery-3.6.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.4.0/dist/chartjs-plugin-datalabels.min.js"></script>
    <script src="~/lib/jquery/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="fundo_modal"></div>
    <div class="conteudo">
        <ul class="menu">
            <li><a href="Home">Home</a></li>
            <li><a href="Salas">Salas</a></li>
            <li><a href="Sala">Nova Sala</a></li>
            <li><a href="Perfil">Perfil</a></li>
            <li><a href="Alunos">Alunos</a></li>
        </ul>
        <!--<div class="container">-->
        @*<main role="main" class="pb-3">

            </main>*@
        <!--</div>-->

        <div class="iframe">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>


    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - libras4All_web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.0.3/js/dataTables.dateTime.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
