@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Libras4all - Redefinir Senha</title>
        <script src="./js/cadastro.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.4.0/dist/chartjs-plugin-datalabels.min.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/style.css" rel="stylesheet" />
        <link rel="icon" type="imagem/jpg" href="~/icon.jpg" />
    </head>
    <div id='cadastro'>        
        <div class="square">           
            <h1>Redefinição de senha</h1>
            <div>

                <input type="password" class="senha-icon" id="exampleDropdownFormPassword1" placeholder="Digite uma nova senha" />
                <input type="password" class="senha-icon" id="exampleDropdownFormPassword2" placeholder="Confirme a nova senha" />

            </div>
            <div>
                <button @*onclick=""*@ type="button">Salvar</button>
              
            </div>
        </div>

    </div>