@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id='alunos'>
      <div class="esquerda">
        <p>Alunos</p>
        <table id="tabelaAlunos" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td>teste</td>
                    <td>teste@gmail.com.br</td>
                </tr>
            </tfoot>
        </table>

    </div>
    <div class="direita">
        <div class="cima">
            <p>Salas</p>
        </div>
        <div class="baixo">
            <p>% de acerto do Aluno</p>
            <canvas id="primeiroGrafico"></canvas>
        </div>

    </div>

</div>