

<div id='alunos'>
    <div class="esquerda">
        <p>Alunos</p>
        <table id="tabelaAlunos" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th> </th>
                    <th> </th>
                    <th> </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

    </div>
    <div class="direita">

        <div class="baixo" id="divDesempenho">
           
            <canvas id="primeiroGrafico"></canvas>
        </div>

        <div class="cima" id="divSala">
            <p>Salas</p>
            <table id="tabelaSalas" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descrição</th>
                        <th>Jogo</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script src="./js/homeAluno.js"></script>

<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>